.divformulario{
    transition-duration: 1s;
    margin: 5px;
    margin-top: 20px;
    padding: 60px;
    background: rgba(56, 72, 103, 0.66);
    border-radius: 9px;
    box-shadow: 0 8px 18px 0 rgba(0,0,0,0.2), 10px 70px 10px 10px rgba(0,0.19,0,0);
}

.divformulario:hover{
    transition-duration: 1s;
    background: rgba(56, 72, 103, 0.90);
    box-shadow: 0 8px 38px 0 rgba(0,0,0,0.2), 10px 70px 10px 10px rgba(0,0.19,0,0);
}

.miformulario{
     padding-left: 60px;
     padding-right: 60px;
}

#lista{
    margin-left: 90px;
    margin-right: 90px;
}